[buildout]
parts = test coverage-test coverage-report
develop = .

[test]
recipe = zc.recipe.testrunner
eggs = zope.app.security

[coverage-test]
recipe = zc.recipe.testrunner
eggs = zope.app.security
defaults = ['--coverage', '../../coverage']

[coverage-report]
recipe = zc.recipe.egg
eggs = z3c.coverage
scripts = coverage=coverage-report
arguments = ('coverage', 'coverage/report')
